* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  background-color: ghostwhite;
}

.preloader {
  margin-top: 300px;
  display: flex;
  justify-content: center;
}