.file {
	padding: 6px 0;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	align-items: center;
	text-align: center;
	user-select: none;

	&:hover {
		cursor: pointer;
	}

	.name {
		display: flex;
		align-items: center;

		p {
			margin-top: 1px;
			margin-left: 3px;
		}
	}

	textarea {
		display: flex;
		align-items: center;
		font-size: 16px;
	}
}

.selected {
	background-color: rgb(198, 226, 250);
}