.file {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	align-items: center;
	text-align: center;

	&:hover {
		cursor: pointer;
	}

	.name {
		display: flex;
		align-items: center;

		p {
			margin-top: 2px;
			margin-left: 3px;
		}
	}
}