.wrapper {
  margin-bottom: 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .searchInput {
    input {
      max-height: 10px;
    }
  }

  .leftSide {
    display: flex;
    align-items: center;

    div {
      margin-right: 20px;
    }
  }

  .rightSide {
    display: flex;
    margin: 0 0 4px;
  }
}