.main {
	padding: 30px;
	height: 850px;

	header {
		margin-bottom: 25px;
		display: flex;
		align-items: center;

		svg {
			margin-right: 20px;
		}
	}
}

.path {
	margin-bottom: 10px;

	a {
		color: rgb(0, 68, 255);
		text-transform: lowercase;
		font-size: 16px;
	}
}

.panel {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 2px solid black;
}